@using CloudBlog.Helpers.Extensions
@model CloudBlog.Models.BlogPost
@{
    //ViewBag.Title = Model.ContentItem.MetadataMetaTitle;
}
@section headers
{
    @*   @Html.Partial("HeadersMetadata", Model.ContentItem)*@
}

<div class="grid-container grid-container--full">
    <article class="blog-post-article">
        <h2 class="blog-post-article__title">
            @Html.DisplayFor(vm => vm.Title)
        </h2>
        <div class="blog-post-article__date">
            @Html.DateTimeFormattedFor(vm => vm.PostDate, "D")
        </div>
        <div class="row">
            @Html.AssetImage(Model.TeaserImage.FirstOrDefault(), title: $"Article {Model.System.Name}", cssClass: "img-responsive")
        </div>
        <div class="row">
            <div class="blog-post-article__content">
                @Html.DisplayFor(vm => vm.BodyCopy)
            </div>
        </div>
    </article>
</div>