@using CloudBlog.Helpers

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Blog Sample</title>
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Critical CSS -->
    @{
        var criticalCss = WebpackHelper.GetAssetContent("critical.css");
    }

    @if (string.IsNullOrWhiteSpace(criticalCss))
    {
        <link rel="stylesheet" href="@WebpackHelper.GetAssetUrl("critical.css")" />
    }
    else
    {
        <style>@Html.Raw(WebpackHelper.GetAssetContent("critical.css"))</style>
    }

    <!-- Stylesheets -->
    <link rel="preload" href="@WebpackHelper.GetAssetUrl("main.css")" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="@WebpackHelper.GetAssetUrl("main.css")" /></noscript>

    <!-- Scripts -->
    <script>@Html.Raw(WebpackHelper.GetAssetContent("runtime~polyfill.js"))</script>
    <script>@Html.Raw(WebpackHelper.GetAssetContent("runtime~main.js"))</script>

    @RenderSection("Scripts", false)

    <script defer src="@WebpackHelper.GetAssetUrl("polyfill.js")"></script>
    <script defer src="@WebpackHelper.GetAssetUrl("vendor.js")"></script>
    <script defer src="@WebpackHelper.GetAssetUrl("main.js")"></script>

    @RenderSection("headers", required: false)
</head>
<body>
    <div class="site-wide">
        <header class="header">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "" })
            <nav class="nav">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "home")</li>
                    <li>@Html.ActionLink("Blog", "Index", "blog")</li>
                </ul>
            </nav>
        </header>
        <main class="main">
            @RenderBody()
        </main>
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - Blog Sample</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
