@using CloudBlog.Core.Webpack

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Blog Sample</title>
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Critical CSS -->
    @{
        var criticalCss = WebpackHelper.GetAssetContent("critical.css");
    }

    @if (string.IsNullOrWhiteSpace(criticalCss))
    {
        <link rel="stylesheet" href="@WebpackHelper.GetAssetUrl("critical.css")" />
    }
    else
    {
        <style>@Html.Raw(WebpackHelper.GetAssetContent("critical.css"))</style>
    }

    <!-- Stylesheets -->
    <link rel="preload" href="@WebpackHelper.GetAssetUrl("main.css")" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="@WebpackHelper.GetAssetUrl("main.css")" /></noscript>

    <!-- Scripts -->
    <script>@Html.Raw(WebpackHelper.GetAssetContent("runtime~polyfill.js"))</script>
    <script>@Html.Raw(WebpackHelper.GetAssetContent("runtime~main.js"))</script>

    @RenderSection("Scripts", false)

    <script defer src="@WebpackHelper.GetAssetUrl("polyfill.js")"></script>
    <script defer src="@WebpackHelper.GetAssetUrl("main.js")"></script>

    @RenderSection("headers", required: false)
</head>
<body>
    <div class="site-wide">
        @Html.Partial("MasterHeader")
        <main class="main-content">
            @RenderBody()
        </main>
        @Html.Partial("MasterFooter")
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
